<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <style>
        body {
            background-color: #361E1E;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            margin: 3;
            color: white;
            text-align: center;
            padding-top: 20px;
        }
    </style>
</head>

<body>
    <h1>En esta pagina se pueden gestionar turnos medicos</h1>
    <h2>Aca podras crear, eliminar, y buscar pacientes y doctores</h2>
    <h2>Cada paciente tiene un doctor y un doctor puede tener muchos pacientes</h2>
    <h3>aqui podras crear doctores</h3>
    <button onclick="window.location.href='/doctores/agregar';">
        Doctores
    </button>
    <h3>aqui podras crear pacientes</h3>
    <button onclick="window.location.href='/pacientes/agregar';">
        Pacientes
</body>

</html>